<div class="container mt-3 container my-1 animate__animated animate__fadeIn">
    <form [formGroup]="newList" (ngSubmit)="addItem()">
        <input formControlName="title" name="title" id="title" class="mx-2" placeholder="Add a task.." required>
        <!-- <select formControlName="type" name="list" id="type" class="mx-2" size="1" multiple>
            <option *ngFor="let option of options" [ngValue]="option.value">{{option.name}}</option>
          </select> -->
          <button type="submit" class="btn btn-light mx-2">Add</button>
          <br>
          <div id="radio" class="m-3 pt-1">
              <input type="radio" class="mx-2" formControlName="type" name="type" value="urgent-important">
              <label id="urgent-important" for="">Urgent and Important</label><br>
              <input type="radio" class="mx-2" formControlName="type"  name="type" value="urgent">
              <label id="urgent" for="">Urgent</label><br>
              <input type="radio" class="mx-2" formControlName="type"  name="type" value="important">
              <label id="important" for="">Important</label><br>
          </div>
        <br>


    </form>
    <div class="mt-3">
        <app-list-items *ngFor="let list of lists" [list]="list"></app-list-items>
    </div>
</div>