li{
    font-style: italic;
}

.red{
    color: red;
    text-shadow: 1px black;
}

.orange{
    color: orange;
    text-shadow: 1px black;
}

.yellow{
    color: yellow;
    text-shadow: 1px 1px black;
}

span{
    font-style: italic;
    font-weight: bold;
}