<div class="container mt-3">
    <h1 class="jumbotron text-center animate__animated animate__flip">Getting Started</h1>
    <div class="animate__animated animate__zoomIn">
        <p><span>Step 1</span>: Enter your desired task to queue.</p>
        <p><span>Step 2</span>: Pick a priority level of the task that you want to add.</p>
        <ul>
            <li><strong class="red">RED</strong>: Urgent and Important</li>
            <li><strong class="orange">ORANGE</strong>: Urgent</li>
            <li><strong class="yellow">YELLOW</strong>: Important</li>
        </ul>
        <p><span>Step 3</span>: Click the submit button!</p>
    </div>
</div>

